# Copia este archivo como .env y rellena los valores.
# En Portainer puedes definir estas mismas variables en la sección Environment variables del stack.
PLEX_URL=http://192.168.1.50:32400
PLEX_TOKEN=PEGA_AQUI_TU_TOKEN_REAL
